# Archivo de configuración para {{ inventory_hostname }} 

{% for iface in interfaces %}
  description {{ interfaces[iface].description }} 
  ip address {{ interfaces[iface].ipv4_address }}

{% endfor %}


