{{ hostname }} Es un iterable: {{ hostname is iterable }}
{{ hostname }} Es una sequence: {{ hostname is sequence }}
{{ hostname }} Es un string: {{ hostname is string }}

{{ eos_ver }} Es un number: {{ eos_ver is number }}

{{ bgp_as }} Es un number: {{ bgp_as is number }}

{{ interfaces }} Es un iterable: {{ interfaces is iterable }}
{{ interfaces }} Es un sequence: {{ interfaces is sequence }}
{{ interfaces }} Es un mapping: {{ interfaces is mapping }}

{{ dns_servers }} Es un iterable: {{ dns_servers is iterable }}
{{ dns_servers }} es un sequence: {{ dns_servers is sequence }}
{{ dns_servers }} Es un mapping: {{ dns_servers is mapping }}





