# Mensaje
{% include '13_cartel.j2' %}

# Nombre del dispositivo
{% include '13_base.j2' %}

# Configuración DNS
{% include '13_dns.j2' %}

# Configuración NTP
{% include '13_ntp.j2' %}

# Configuración interfaces
{% include '13_router_01_macro_aux.cfg' %}

